.form {
  margin-bottom: 1rem;
}

.link-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .link {
    $color: var(--primary-400);
    color: $color;
    margin-bottom: 0.5rem;

    &:visited {
      color: $color;
    }
  }
}
